@model RGB.curso.aplicacao.AppPedidos.ViewModels.FornecedorViewModel

@{
    ViewBag.Title = "Inclusão - Fornecedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Inclusão - Fornecedor</h2>

<hr />

@using (Html.BeginForm())
{
    @Html.Partial("_erros");

    <div class="form-horizontal animated pulse">
        @Html.Partial("_FormFornecedor");
        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                        <a class="btn btn-ar btn-default" href="@Url.Action("Index", "Fornecedor")"><i class="glyphicon glyphicon-circle-arrow-left"></i> Voltar</a>
                        <button type="submit" class="btn btn-ar btn-success"><i class="glyphicon glyphicon-save"></i> Gravar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @if (@ViewBag.RetornoPost != "" && @ViewBag.RetornoPost != null)
    {
        var notificacao = ViewBag.RetornoPost.Split(',');

        <script>
        ExibeMensagem("@notificacao[0]", "@notificacao[1]");

            var limpa = "@ViewBag.Limpa";
            if (limpa == 'S') {
               clearForm();
                $("#Apelido").focus();
            }
        </script>
    }
}