@model RGB.curso.aplicacao.AppPedidos.ViewModels.ClienteViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Apelido, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-3">
        @Html.EditorFor(model => model.Apelido, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Apelido, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-3">
        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.CpfCnpj.CpfCnpj, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-3">
        @Html.EditorFor(model => model.CpfCnpj.CpfCnpj, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CpfCnpj.CpfCnpj, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Email.EnderecoEmail, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-3">
        @Html.EditorFor(model => model.Email.EnderecoEmail, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Email.EnderecoEmail, "", new { @class = "text-danger" })
    </div>
</div>

<h4>Dados do Endereço</h4>
<hr />

<div class="form-group">
    @Html.LabelFor(model => model.Endereco.Endereco, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-3">
        @Html.EditorFor(model => model.Endereco.Endereco, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Endereco.Endereco, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Endereco.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-3">
        @Html.EditorFor(model => model.Endereco.Cidade, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Endereco.Cidade, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Endereco.Bairro, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-3">
        @Html.EditorFor(model => model.Endereco.Bairro, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Endereco.Bairro, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Endereco.UF.UF, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-2">
        @Html.DropDownListFor(
                 x => x.Endereco.UF.UF,
                 new SelectList(Model.Endereco.UF.ListaEstados, "Codigo", "Codigo"), "Selecione uma UF"
                 , new { @class = "form-control limpa" }
             )

        @Html.ValidationMessageFor(model => model.Endereco.UF.UF, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Endereco.CEP.CEP, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-3">
        @Html.EditorFor(model => model.Endereco.CEP.CEP, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Endereco.CEP.CEP, "", new { @class = "text-danger" })
    </div>
</div>
